<br />
<div class="career">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />  
    <h1>Careers</h1>
    <br />

    <p>
    People all over the world spend a lot of time and energy on work. It can be a source of identity and inspiration, but it can also be a source of anxiety and frustration. People must know their contribution matters. Helping improve people’s experience of working life is one of the things we have set out to do.
    
    That starts with our team.


    We’re building a strong, diverse team of curious, creative people who want to find a purpose in their work and support each other in the process. We work hard and we play to win.

     As a result, we create a place where all kinds of work happens and happens well, all while working alongside people we respect and admire.

     Interested in applying contact us today
  </p>

      <a href="mailto:appletini19@gmail.com" class="contact-link">
          appletini19@gmail.com </a>
  </div>
</div>

            <%= link_to 'http://github.com/Alisonhardison' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>