<br />

<div class="team">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />  
    <h1>This Site Was Created By Alison</h1>
    <br />
    <h2>With the Help of Instuctors at Vanderbilt's Coding Bootcamp.</h2>
    
    <br />
    <br />
    <div class="row feature text-center">
      <div class="col-12 col-sm">
        <h3>Interested in Building Your Own?</h3>
        <br />
        <p>Enroll in their Bootcamp program today!</p>
        <%= link_to 'https://bootcamps.vanderbilt.edu' %>
      </div>
    </div>
  </div>
</div>
          
            
              
          
            